/* FONTS */
@font-face {
  font-family: "azonix";
  src: url(./Fonts/Azonix.ttf);
}

.azonix { 
  font-family: 'azonix';
  letter-spacing: .15rem;
}
.mains { 
  width:75vw;
}
#simpleNav {
  display:none;
}

/* Media Query */

@media only screen and (max-width: 600px) {
  .header-bar {
      display:none;
  }
  .header-title{
      display:none;
  }
  #sideNav {
    display:none;
  }

  #simpleNav {
    display:inline;
  }
}